extends layout/main

block content
    .form-container
        form(action=routes.videos, method="post")
            input(type="password", placeholder="Current Password", name="currentPassword")
            input(type="password", placeholder="New Password", name="newPassword")
            input(type="submit", placeholder="Upload Video", name="Change Password")