extends layout/main

block content
    .form-container
        form(action=routes.videos, method="post")
            label(for="videos") Video File
            input(type="file", id="videos", name="video")
            input(type="text", placeholder="Title", name="title")
            textarea(name="description", cols="30", rows="10", placeholder="Description")
            input(type="submit", placeholder="Upload Video", value="Submit Video")