DOCTYPE
    html
        head
            script(src="https://kit.fontawesome.com/33e7d1d044.js", crossorigin="anonymous")
            title Youtube Clon
        body
            header
                h1 Youtube Clon
            main
                block content
            footer
                span &copy Youtube Clon
            include ../partials/footer
