DOCTYPE
    html
        head
            script(src="https://kit.fontawesome.com/33e7d1d044.js", crossorigin="anonymous")
            title #{pageTitle} | #{siteName}
        body
            include ../partials/header
            main
                block content
            footer
                include ../partials/footer
